/**
 * Shop System Plugins:
 * - Terms of Use can be found under:
 * https://github.com/wirecard/salesforce-ee/blob/master/_TERMS_OF_USE
 * - License can be found under:
 * https://github.com/wirecard/salesforce-ee/blob/master/LICENSE
 */
@import "~base/variables";

.pg-payment {
  img {
    &.pg-logo {
      vertical-align: middle;
      max-height: 50px;
      max-width: 60px;
      margin: 0 8px 0 0;
    }
  }
}
.summary-details {
  .payment-details {
    img {
      &.pg-logo {
        vertical-align: middle;
        max-height: 50px;
        max-width: 60px;
        margin: 0 8px 0 0;
      }
    }
  }
}
.PG_CREDITCARD-content {
  .nav-tabs {
    .nav-item {
      div {
        &.nav-link {
          color: $grey3;
        }
      }
    }
  }
}
