# Created by .ignore support plugin (hsz.mobi)
.DS_Store

# configurations
.classpath

# bin directory
bin/*

# TempTestcase
Libs/TempTest*.groovy

# Reports
Reports/*

Profiles/*.glbl
!Profiles/ci_console.glbl
!Profiles/default.glbl
