.DS_Store

dw.json
metadata.zip
node_modules/
npm-debug.log

# exclude eclipse settings
cartridges/**/.settings/*

# exclude generated static assets
cartridges/int_*/cartridge/static/default/css/*
cartridges/**/cartridge/static/default/js/*
